/*==============Global settings==================*/
.container{
    max-width: 100% ;
    margin: auto;
}
/*==============User section course sidebar=================*/
.user-site-course-sidebar{
    height: 627px;
    width: 25%;
    content: '';
    background-color: var(--dark-800);
    position: fixed;
    overflow: auto;
}
.user-site-course-sidebar .case-item h4{
    font-size: 20px;
    font-weight: 400;
    color: var(--main-color);
}
.user-site-course-sidebar .case-item p span{
    color: var(--color-2);
    position: relative;
    z-index: 1;
}
.user-site-course-sidebar .case-item p span::after{
    content: '';
    position: absolute;
    left: 0;
    width: 100%;
    bottom: 15px;
    height: 2px;
    background-color:var(--white-900);
    transform: skewY(-3deg);
    z-index: -1;
}
.user-site-course-sidebar .case-item ul li{
    display: block;
    padding-left: 15px;
}
.user-site-course-sidebar .case-item ul li .fa-play-circle{
    padding-right: 15px;
    color: var(--white-900);
}
.user-site-course-sidebar .case-item ul li a{
    font-size: 16px;
    font-weight: 200;
    color: var(--white-900);
}
.user-site-course-sidebar .case-item{
    padding: 0 50px;
    margin-top: 50px;
    line-height: 32px;
}
.user-site-course-sidebar .case-item p{
    padding-bottom: 30px;
    font-size: 30px;
}
/*===================User section course course=======================*/


.course-section .course-section-header{
    background-color: var(--dark-800);
    height: 65px;
    width: 75%;
    position: relative;
    left: 25%;
    border-bottom: 1px solid var(--dark-700);
    justify-content: space-between;
    align-items: center;
}
.course-section .course-section-header #nav-check{
    position: absolute;
    pointer-events: none;
    opacity: 1;
}
.course-section .course-section-header#nav-check:focus ~ .nav-toggler{
    box-shadow: 0 0 10px var(--main-color);
}
.course-section .course-section-header.nav-toggler{
    height: 34px;
    width: 44px;
    border: 1px solid var(--main-color);
    border-radius: 4px;
    cursor: pointer;
    align-items: center;
    justify-content: center;
}
.course-section .course-section-header.nav-toggler span{
    display: block;
    width: 20px;
    height: 2px;
    background-color: var(--main-color);
    position: relative;
}
.course-section .course-section-header#nav-check:checked ~ .nav-toggler span{
    background-color: transparent;
}
.course-section .course-section-header.nav-toggler span::before,
.course-section .course-section-header.nav-toggler span::after{
    content: '';
    position: absolute;
    left: 0;
    top: 0;
    height: 100%;
    width: 100%;
    background-color: var(--main-color);
}
.course-section .course-section-header.nav-toggler span::before{
    transform: translateY(-6px);
}
.course-section .course-section-header#nav-check:checked ~ .nav-toggler span::before{
    transform: rotate(45deg);
}
.course-section .course-section-header.nav-toggler span::after{
    transform: translateY(6px);
}
.course-section .course-section-header#nav-check:checked ~ .nav-toggler span::after{
    transform: rotate(-45deg);
}
.course-section .course-section-header .header-btn ul li{
    display: inline-block;
    position: relative;
    padding-top: 10px;
    left: 700px;
}
/*==========================Course section course page==============================*/
.course-section-course{
    width: 75%;
    background-color: var(--white-700);
    height: 627px;
    overflow-x: hidden;
    position: relative;
    left: 25%;
}
.course-section .course-section-course{
    padding: 60px 60px;
}
.course-section .course-section-course h2{
    font-weight: 900;
    text-align: center;
    padding-bottom: 20px;
    font-size: 40px;
}
.course-section .course-section-course p{
    text-align: center;
    padding-bottom: 20px;
    font-size: 16px;
    color: var(--dark-700);
}
.course-section .course-section-course .chapitre{
    background-color: #fff;
    padding: 80px 100px;
    border-radius: 10px;
    margin-bottom: 30px;
    box-shadow: 100px var(--dark-700);
}